.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login button {
  background-color: white;
  justify-content: center;
  color: #EE7F43;
  border-color: #EE7F43;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
  margin: 5px;
  width: 250px;
}

.login button:hover {
  background-color: #EE7F43;
  color: white;
}

.social-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.social-button img {
  width: 20px;
  height: 20px;
}

.social-button:hover {
  background-color: #f1f1f1;
}

.signup-redirect {
  margin-top: 20px;
}

.signup-redirect button {
  background-color: #34a853;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.signup-redirect button:hover {
  background-color: #2c7a43;
}