html, body, .container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Remove a barra de rolagem horizontal */
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

.detalhe-cardapio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  margin: 20px auto;
  width: 100%;
  overflow-y: auto; /* Permitir rolagem vertical para o conteúdo */
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3.5em;
  color: #EE7F43;
  position: absolute;
  top: 60px;
  left: 20px;
}

h1 {
  margin-bottom: 20px;
  color:#333;
}

.pratos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.prato-card {
  background-color: #fff;
  border-radius: 35px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); /* Sombra forte */
  padding: 15px;
  width: 300px;
  display: flex;
  align-items: center;
}

.prato-imagem {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.prato-info {
  flex-grow: 1;
}

.prato-nome {
  color: #EE7F43;
  margin: 0;
}

.prato-ingredientes {
  color: #666;
  margin: 5px 0;
}

.prato-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prato-valor {
  color: #000;
  margin: 5px 0;
}

button {
  background-color: #EE7F43;
  color: #fff;
  border: none;
  border-radius: 35px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #fff;
  color: #EE7F43;
  border: 1px solid #EE7F43;
}